<style>
	.usuario{
		background-color: #f5edd7;
	}

	.fondo-titulo{
		background-color: #c29600;		
		color: white;
		border-bottom: 2px yellow;
	}

	.badge{
		background-color: #c29600;
	}

	.list-group-item#bordeBottom{
		border-bottom : 3px solid #d2ab25;
	}
	.list-group-item{
		border-right: 3px solid #d2ab25; 
		border-left: 3px solid #d2ab25; 
	}
	.prestamos{
		margin-top:3%;
	}
</style>
<div class="prestamos">
	<ul ng-show="{{usuario.tipoUsuario!=='ADMIN'}}">
		<li class="list-group-item fondo-titulo" id="bordeBottom"><h4 class="text-center  "><b >Prestamos Activos</b></h4></li>
		<li class="list-group-item usuario"><h5><b>{{usuario.tipoUsuario}}:</b> {{usuario.nombre}}</h5></li>
		<li ng-repeat="prestamo in prestamos2" class="list-group-item" id="{{final($index)}}" >
			<h5><b>Libro:</b> {{prestamo.libro}}</h4>
			<h5><b>Codigo:</b> {{prestamo.codigo}}</h4>
			<h5 ng-show="{{usuario.tipoUsuario==='ALUMNO'}}"><b>Fecha de Fin:</b> {{prestamo.fecha_fin}}</h5>
			<span class="badge" >{{$index+1}}</span>
			<br/>
		</li>
		<li  class="list-group-item text-center" id="bordeBottom"><b>{{resultado()}} prestamos de {{prestamos.length}} libros totales
		<div class="text-center">
		<button class="btn-lg btn-success" ng-click="anteriores()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		<button class="btn-lg btn-success" ng-click="siguientes()">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
				</div></li>
	</ul>
	
	<ul ng-show="{{usuario.tipoUsuario==='ADMIN'}}">
		<li class="list-group-item fondo-titulo" id="bordeBottom"><h4 class="text-center  "><b >Prestamos Pasados Fecha</b></h4></li>
		<li class="list-group-item usuario"><h5><b>{{usuario.tipoUsuario}}:</b>{{usuario.nombre}}</h5></li>
		<li ng-repeat="prestamo in prestamos2" class="list-group-item" id="{{final($index)}}" >
			<h5><b>Libro:</b> {{prestamo.libro}}</h4>
			<h5><b>Codigo:</b> {{prestamo.codigo}}</h4>
			<h5><b>Fecha de Fin:</b> {{prestamo.fecha_fin}}</h5>
			<span class="badge" >{{$index+1}}</span>
			<input type="button" class="btn btn-primary center-block" value="Usuario">
		</li>
		<li  class="list-group-item text-center" id="bordeBottom"><b>{{resultado()}} prestamos de {{prestamos.length}} libros totales
		<div class="text-center">
		<button class="btn btn-success" ng-click="anteriores()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		<button class="btn btn-success" ng-click="siguientes()">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
				</div></li>
	</ul>
</div>